*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    font-size: 62.5%;

}


.container{
    height: fit-content;
    
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.top, .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
}

.triangle1{
    width: 0;
    height: 0;
   border-bottom: 400px solid red;
   border-right: 300px solid transparent;
}
.triangle2{
    width: 0;
    height: 0;
   border-top: 400px solid black;
   border-left: 300px solid transparent;
   position: absolute;
    top: 0;
    left: 0;
    
}
.triangle3{
    width: 0;
    height: 0;
   border-top: 400px solid red;
   border-right: 300px solid transparent;
}
.triangle4{
    width: 0;
    height: 0;
   border-bottom: 400px solid black;
   border-left: 300px solid transparent;
   position: absolute;
    top: 0;
    right: 0;
}
// bottom triangles
.triangle5{
    width: 0;
    height: 0;
   border-top: 400px solid black;
   border-right: 300px solid transparent;
}
.triangle6{
    width: 0;
    height: 0;
   border-bottom: 400px solid red;
   border-left: 300px solid transparent;
   position: absolute;
    top: 0;
    left: 0;
}
.triangle7{
    width: 0;
    height: 0;
   border-bottom: 400px solid black;
   border-right: 300px solid transparent;
}
.triangle8{
    width: 0;
    height: 0;
   border-top: 400px solid red;
   border-left: 300px solid transparent;
   position: absolute;
    top: 0;
    right: 0;
}

.drum{
    position: absolute;
    top: 15%;
    h2{
        font-size: 2rem;
        font-weight: 700;
        color: 	black;
        letter-spacing: 0.1rem;
        margin-bottom: 2rem;
    }
}
.shop{
    position: absolute;
    bottom: 10%;

    h2{
        font-size: 2rem;
        font-weight: 700;
        color: 	#ff7400;
        text-transform: uppercase;
        letter-spacing: 1rem;
        margin-bottom: 2rem;
        background-color: white;
        padding: 15px;
    }
}
.flash{
    position: absolute;
    //middle
    top: 220px;
    left: 500px;
    display: felx;
    align-items: center;
    justify-content: center;
    h1{
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15rem;
        font-weight: 600;

    }

}